<p id="notice"><%= notice %></p>

<p>
  <strong>Crate:</strong>
  <%= @unique_crate.crate %>
</p>

<%= link_to 'Edit', edit_unique_crate_path(@unique_crate) %> |
<%= link_to 'Back', unique_crates_path %>
