<div class="container">
  <div class="row">
    <div class="col-md-8">

      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-title">
                  <div class="row">
                    <div class="col-xs-6" id="cart-header">
                      <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                    </div>
                    <div class="col-xs-6">
                      <button type="button" class="btn btn-primary btn-sm btn-block">
                        <span class="glyphicon glyphicon-share-alt"></span><a href="/"> Continue shopping</a>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-body">

                <% @unique_crate.items.each do |item| %>

                <div class="row">
                  <div class="col-xs-2"><img class="img-responsive" src=<%= item.image.url %>>
                  </div>
                  <div class="col-xs-4">
                    <h4 class="product-name"><strong><%= item.name %></strong></h4><h4><small></small></h4>
                  </div>
                  <div class="col-xs-6">
                    <div class="col-xs-6 text-right">
                      <h6>
                        <strong><%= number_to_currency item.price, precision: 0 %>
                        <span class="text-muted"></span></strong>
                      </h6>
                    </div>
                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-2">
                      <button type="button" class="btn btn-link btn-xs">
                        <span class="glyphicon glyphicon-trash"> </span>
                      </button>
                    </div>
                  </div>
                </div>
                <hr>

                <% end %>

                <div class="row">
                  <div class="text-center">
                    <div class="col-xs-9">
                    </div>
                    <div class="col-xs-3">
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="row text-center">
                  <div class="col-xs-9">
                    <h4 class="text-right">Total $ <strong><%= @total_price %></strong></h4>
                  </div>
                  <div class="col-xs-3">


                  <!-- Large modal -->
                    <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target=".bs-example-modal-lg">Checkout</button>

                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <h1>Thanks for shopping! Your crate's on the way!</h1>
                          <img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1220036/vMy9rNVMrj7Ltxf/cratedrop.jpg" alt="end image" id="end-image">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">
                              Payment Details
                          </h3>
                          <div class="checkbox pull-right">
                              <label>
                                  <input type="checkbox" />
                                  Remember
                              </label>
                          </div>
                      </div>
                      <div class="panel-body">
                          <form role="form">
                          <div class="form-group">
                              <label for="cardNumber">
                                  CARD NUMBER</label>
                              <div class="input-group">
                                  <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                      required autofocus />
                                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-7 col-md-7">
                                  <div class="form-group">
                                      <label for="expityMonth">
                                          EXPIRY DATE</label>
                                      <div class="col-xs-6 col-lg-6 pl-ziro">
                                          <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                      </div>
                                      <div class="col-xs-6 col-lg-6 pl-ziro">
                                          <input type="text" class="form-control" id="expityYear" placeholder="YY" required /></div>
                                  </div>
                              </div>
                              <div class="col-xs-5 col-md-5 pull-right">
                                  <div class="form-group">
                                      <label for="cvCode">
                                          CV CODE</label>
                                      <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                                  </div>
                              </div>
                          </div>
                          </form>
                      </div>
                  </div>
                  <ul class="nav nav-pills nav-stacked">
                      <li class="active"><a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>4200</span> Final Payment</a>
                      </li>
                  </ul>
                  <br/>
                  <a href="http://www.jquery2dotnet.com" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>