// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#crate-temp {
  width: 400px;
  height: 400px;
}

.crate-list {
  float: left;
  padding: 10px;
  text-align: center;
}

.box {
  width: 210px;
  height: 210px;
  display: inline-block;
  margin-top: 2px;

}

.box-image {
  width: 210px;
  height: 210px;
  padding: 10px;
}

#cat-container {
  text-align: center;
}

img {
  max-height: 100%;
  max-width: 100%;
}
