// Place all the styles related to the Crates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// div.container {
//   display: inline-block;
//   margin: 1em;
//   float: right;
// }

table {
  border: 1px solid #666;
  width: 100%;
}

th {
  background: #f8f8f8;
  font-weight: bold;
  padding: 2px;
}

td {
  padding: 5px;
}

div.thumbnail {
  margin: 10px;
  width: 300px;
  height: 500px;
  text-align: center;
}

div.thumbnail-image {
  height: 50%;
}

#scroll-content {
  height: 400px;
  overflow: scroll;
  border-radius: 10px;
}

.left-thumbnails {
  width: 400px;
  height: 400px;
  margin-left: 20px;

}

#left-thumbnail-img {
  width: 80px;
  height: 80px;
  float: left;
  padding: 5px;

}

.crate-background {
  background-image: image-url("crate.jpg");
  width: 300px;
  height: 300px;
  padding: 25px;
}


#item-contents {
  color: black;
}


input[type="checkbox"].checkbox {
  /* Double-sized Checkboxes */
      -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
      -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin-top: 70px;
}


.checkboxtext {
  /* Checkbox text */
  font-size: 500%;
  display: inline;
}

