// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#crate-temp {
  width: 400px;


}

img {
  max-width: 100%;
  max-height: 100%;
}

.item-list {
  float: left;
  padding: 5px;
  border: solid gray 3px;
}

